*{
    padding: 0;
    border: 0;
}
#login{
    width: 574px;
    height: 500px;
    margin: auto;
    background-image: url("../img/land.png");
}
#form p{
    margin-bottom: 40px;
}
#form p input{
    height: 32px;
}
#loginclick{
    width:209px;
    margin-left: 7px;
    height: 32px;
}
















