*{
    margin: 0px;
    padding: 0px;
}

/*商品表*/
#mcsDiv{
    width: 730px;
    height: 440px;
    margin-left: 20px;
    margin-top: 10px;
    border: 2px solid black;
}
#mcs_tit{
    height: 40px;
    font-size: 20px;
    line-height: 40px;

}
#mcs_sle{
    width: 700px;
    height: 40px;
    line-height: 40px;
}
.ipt{
    margin-left: 10px;
}
#mcsP{
    width: 700px;
    height: 40px;
}
.mcsTh{
    display: inline-block;
    margin-top: 15px;
}
.mcsTab{
    width: 700px;
    height: 50px;
    margin-top: 12px;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-collapse:collapse;

}
.mcsTr{
    border: 2px solid black;
    background-color: #ededed;
}
.td_id{
    width: 30px;
    font-size: 13px;
}
.td_name{
    width: 90px;
    font-size: 13px;
}
.td_img{
    width: 70px;
    font-size: 13px;
}
.td_pri{
    width: 30px;
    font-size: 13px;
}
.td_all{
    width: 60px;
    font-size: 13px;
}
.td_pub{
    width: 50px;
    font-size: 13px;
}
.td_ves{
    width: 110px;
    font-size: 13px;
}
.td_rel{
    width: 110px;
    font-size: 13px;
}
.td_zuo{
    width: 150px;
    font-size: 13px;
}
#page{
    margin-left: 20px;
    margin-top: 10px;
}
.pageBtn{
    margin-left: 10px;
    text-decoration: none;
}