*{
    margin: 0px;
    padding: 0px;
}

/*表格*/
.operation{
    font-size: 13px;
    color: #003eff;
    cursor:pointer;
    margin-left: 5px;
}

.table{
    width: 500px;
    margin-left: 20px;
    border: 1px solid black;
    border-collapse:collapse;
}
.t_td{
    border: 2px solid black;
    text-align: center;


}
.table_min{
    width: 500px;
    height: 50px;
    margin-left: 20px;
    border: 1px solid black;
    border-collapse:collapse;
}

.ipt_tx{
    border: none;
}






